<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">     
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
        <li class="active">Answer</li>
      </ol>
    </div><!--/.row-->
    
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Answer</h1>
      </div>
    </div><!--/.row-->
        
    
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Answer</div>
          <div class="panel-body">
            <div class="col-md-12">
              <%= simple_form_for(@answer,:url => admin_answer_create_path, :method => :post) do |f| %>
                
                <div class="form-group">
                  <label>what is question</label>
                  <textarea class="form-control" name="answer[content]" rows="5"></textarea>
                </div>
                 <input type="hidden" name="id" value="<%= @question.id%>">
                <button type="submit" class="btn btn-primary">Save</button>
            <% end %>
          </div>
        </div>
      </div><!-- /.col-->
    </div><!-- /.row -->
    
  </div><!--/.main-->