<section class="rooms mt50">
    <div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>User</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <a href="#" class="user-link">Full name 2</a>
                                        <span class="user-subhead">Admin</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                                        <a href="#" class="user-link">Full name 3</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <a href="#" class="user-link">Full name 2</a>
                                        <span class="user-subhead">Admin</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                                        <a href="#" class="user-link">Full name 3</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">Full name 1</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <a href="#" class="user-link">Full name 2</a>
                                        <span class="user-subhead">Admin</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="http://bootdey.com/img/Content/user_2.jpg" alt="">
                                        <a href="#" class="user-link">Full name 3</a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>