<style>
 .panel-pricing .panel-body, .panel-heading{
    background-color: white !important;
    color: #0067C5 !important;
 }
 .panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}
</style>
  <!-- Plans -->
    <section id="plans" class="mt100">
        <div class="container">
            <div class="row">

          <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Time/Day</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">9:00AM - 10:00AM</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>Frank</td>
    </tr>
    <tr>
      <th scope="row">10:00AM - 11:00AM</th>
      <td>Sidhu (10:30)</td>
      <td>Son</td>
      <td>Akash,Sidhu</td>
      <td>Anusha</td>
      <td>Frank</td>
    </tr>
    <tr>
      <th scope="row">11:00AM - 12:00PM</th>
      <td>Sidhu (till 11:30AM)</td>
      <td>Akash (till 11:30AM) , Sidhu ,Frank @ 11:30AM</td>
      <td>Son</td>
      <td>Anusha</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">12:00PM - 1:00PM</th>
      <td>Frank</td>
      <td>Anusha</td>
      <td>Frank</td>
      <td>Anusha</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">1:00PM - 2:00PM</th>
      <td>Son</td>
      <td>Akash</td>
      <td>Son</td>
      <td>Frank</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2:00PM - 3:00PM</th>
      <td>Son</td>
      <td>Akash</td>
      <td>Sidhu</td>
      <td>Frank</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3:00PM - 4:00PM</th>
      <td>Hend</td>
      <td>Son</td>
      <td>Hend</td>
      <td>Frank</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">4:00PM - 5:00PM</th>
      <td>Hend</td>
      <td>Anusha</td>
      <td>Akash,Hend</td>
      <td>Anusha</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">5:00PM - 5:30PM</th>
      <td>Closed</td>
      <td>Anusha</td>
      <td>Hend</td>
      <td>Anusha</td>
      <td>-</td>
    </tr>
  </tbody>
</table>


            </div>
        </div>
    </section>
    <!-- /Plans -->



